.container {
  text-align: center;
  /* margin: 25px 0; */
}

.description {
  font-size: 18px;
  margin: 25px 0;
  max-width: 1100px;
  margin: 25px auto;
  margin-top: 21px;
  margin-bottom: 22px;
}

.inviteContainer {
  position: relative;
  max-width: 460px;
  margin: auto;
}

.input {
  border: 2px solid #0c1f3f;
  border-radius: 8px;
  width: 100%;
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: -0.02em;
  /* padding: 20px 200px 20px 16px; */
  padding: 20px 16px;
  height: 64px;
}

.input:focus {
  border-color: #ff165f;
  outline: none;
}

.button {
  background: #ff165f;
  border-radius: 6px;
  width: 184px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.2;
  color: #ffffff;
  text-align: center;
  position: absolute;
  right: 2px;
  top: 2px;
  bottom: 2px;
  border: none;
  cursor: pointer;
  margin: 0;
}

.button:hover,
.button:active {
  background: #d6104e;
}

@media only screen and (max-width: 600px) {
  .button {
    position: relative;
    width: 100%;
    top: unset;
    bottom: unset;
    left: unset;
    right: unset;
    height: 64px;
    margin-top: 1rem;
    border-radius: 8px;
  }
}

.img_m {
  margin-top: 24.755px;
}

.img_m_2 {
  margin-top: 24.755px;
  margin-bottom: 3.755px;
}
