.section {
  display: flex;
  align-items: center;
  margin: 2rem 0;
}

.section_mt_1 {
  margin-top: 131px;
}

.section_mt_2 {
  margin-top: 37.68px;
}

.section_mt_3 {
  margin-top: 165.68px;
  margin-bottom: 160px;
}

@media only screen and (max-width: 768px) {
  .section {
    display: block;
    margin: 38px 0;
    text-align: center;
  }
}

.section__left {
  flex: 1;
}

.section__left p {
  line-height: 1.6;
}

@media only screen and (max-width: 768px) {
  .section__left {
  }
}

.section__left > div {
  max-width: 552px;
  margin-left: auto;
}

@media only screen and (max-width: 768px) {
  .section__left > div {
    margin-right: auto;
  }
}

.flip {
  flex-direction: row-reverse;
}

@media only screen and (max-width: 768px) {
  .flip {
    margin-top: 0;
  }
}

.section__right {
  flex: 1;
  min-width: 451px;
}

.mobileFrame {
  width: 280px;
  border-radius: 20px;
  box-shadow: 42.4708px 42.4708px 84.9415px rgba(12, 31, 63, 0.1);
  margin-left: 3rem;
  overflow: hidden;
}

.mobileFrame > img {
  width: 100%;
  display: block;
}

@media only screen and (max-width: 768px) {
  .section__right {
    min-width: unset;
  }

  .mobileFrame {
    margin: 0 auto 2.75rem;
  }
}

.flip .section__left > div {
  margin-right: auto;
  margin-left: 45px;
}

@media only screen and (max-width: 768px) {
  .flip .section__left > div {
    min-width: unset;
    margin-left: auto;
  }
}

.flip .mobileFrame {
  margin-left: auto;
}

.title {
  margin-bottom: 48px;
}

.title_2 {
  margin-bottom: 41.36px;
}

.title_3 {
  margin-bottom: 58px;
}
