.main {
  padding: 0 24px;
}

.accessible {
  text-align: center;
  margin: 0 auto 25px;
  max-width: 1100px;
  margin-top: 49px;
  margin-bottom: 19.245px;
}

.accessible_1 {
  margin-top: 46px;
}

.textCenter {
  text-align: center;
}

.fontSize_38 {
  font-size: 32px;
  margin: 0;
}

.getEarlyAccess {
  margin: 0 auto 120px;
}

@media only screen and (max-width: 768px) {
  .getEarlyAccess {
    margin-top: 120px;
  }
}

.getInvite {
  width: 211px;
  border: 0.5px solid #c4cad0;
  box-sizing: border-box;
  border-radius: 8px;
  height: 64px;
  background: transparent;
  color: #ff165f;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.2;
  margin-top: 35px;
  cursor: pointer;
}

.more {
  color: #ff165f;
}

.section_p_mt_3 {
  margin-top: 59px;
}
